[Desktop Entry]
Type=Application
Name=VapourSynth Editor
Exec=vsedit.sh
Icon=org.bitbucket.mystery_keeper.VapourSynthEditor
Categories=AudioVideo;Video;AudioVideoEditing;
